:root {
  --clock-color: #b0fe08;
}

body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#heading1 {
  color: var(--clock-color);
  font-family: "Mametosca 026";
  font-size: 55px;
  position: relative;
  top: 1rem;
  left: 3.5rem;
  display: inline-block;
}

#heading2 {
  color: black;
  font-family: "Mametosca 026";
  font-size: 55px;
  display: inline-block;
  position: relative;
  top: 1rem;
  left: 4.5rem;
  -webkit-text-stroke: 2px var(--clock-color)
}

#heading-line {
  width: 40rem;
  border-bottom: 1px solid var(--clock-color);
  position: relative;
  bottom: 4.55rem;
  right: 36.5rem;
}

/* timer controls */

.timer_controls {
  border-radius: 50%;
  width: 1.5rem;
  font-size: 17px;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--clock-color);
  margin: .5rem;
}

button {
  border: none;
}

.control-container {
  display: flex;
  justify-content: center;
  width: 14.2rem;
  margin-top: .5rem;
} 

#break-length {
  display: flex;
  align-items: center;
  color: var(--clock-color);
  font-size: 30px;
  position: relative;
  top: .2rem;
}

#break-line {
  width: 30rem;
  border-bottom: 1px solid var(--clock-color);
  position: relative;
  left: 47rem;
  top: 6rem;
}

#break-container {
  display: inline-block;
  margin: 1rem;
  position: relative;
  top: 3rem;
  left: 31.5rem;
  font-family: "Mametosca 026";
}

#break-label {
  font-size: 24px;
  color: var(--clock-color);
  border: .25rem solid var(--clock-color);
  box-shadow: 0px 0px 0px 4px black, 0px 0px 0px 5px var(--clock-color);
  width: 13.8rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .2rem;
  padding: .4rem .1rem .1rem .1rem;
}

#session-container {
  display: inline-block;
  margin: 1rem;
  position: relative;
  bottom: 5.5rem;
  right: 8.5rem;
  font-family: "Mametosca 026";
}

#session-line {
  width: 30rem;
  border-bottom: 1px solid var(--clock-color);
  position: relative;
  right: 37.5rem;
  bottom: 2.5rem;
}

#session-length {
  display: flex;
  align-items: center;
  color: var(--clock-color);
  font-size: 30px;
  position: relative;
  top: .2rem;
 }

 #session-label {
   font-size: 24px;
   color: var(--clock-color);
   border: .25rem solid var(--clock-color);
   box-shadow: 0px 0px 0px 4px black, 0px 0px 0px 5px var(--clock-color);
   width: 13.2rem;
   height: 2.3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: .2rem;
   padding: .4rem .4rem .1rem .4rem;
 }

.controls, .timer_controls:hover {
  cursor: pointer;
}

/* clock face */
#time-left {
  border: .4rem solid var(--clock-color);
  border-radius: 50%;
  width: 19rem;
  height: 19rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 5px black, 0px 0px 0px 6.5px var(--clock-color);
  font-size: 95px;
  color: var(--clock-color);
  margin-bottom: 2rem;
  font-family: "Mametosca 026";
  position: relative;
  left: 10.1rem;
  bottom: 6rem;
}

#timer-label {
  color: var(--clock-color);
  font-size: 28px;
  margin-bottom:1rem;
  width: 10rem;
  text-align: center;
  position: relative;
  left: 15rem;
  font-family: "Mametosca 026";
}

/* clock face controls*/
 #play {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 5px;
  background-color: var(--clock-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
  z-index: 1;
}

#control-container {
  position: relative;
  left: 13.4rem;
  bottom: 10.1rem;
  width: 15rem;
  }

 #pause {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 5px;
  background-color: var(--clock-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;
  z-index: 1;
 }

 #reset {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: var(--clock-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -18.03rem;
  margin-left: 8.4rem;
 }

 #start_stop {
  display: flex;
  width: 7rem;
  margin: 15px;
 }

#background-one {
  border-radius: 50%;
  width: 3.55rem;
  height: 3.55rem;
  border: 2px solid var(--clock-color);
  z-index: -1;
  position: relative;
  left: 18px;
  bottom: 69px;
  background-color: black;
}

#background-two {
  border-radius: 50%;
  width: 3.55rem;
  height: 3.55rem;
  border: 2px solid var(--clock-color);
  z-index: -1;
  position: relative;
  left: 57px;
  bottom: 129.5px;
  background-color: black; 
}

#background-three {
  border-radius: 50%;
  width: 3.2rem;
  height: 2.77rem;
  z-index: 0;
  position: relative;
  bottom: 182px;
  left: 44px;
  background-color: black;
}

#background-four {
  border-radius: 50%;
  width: 3.55rem;
  height: 3.55rem;
  border: 2px solid var(--clock-color);
  z-index: -1;
  position: relative;
  left: 8rem;
  bottom: 14.63rem;
  background-color: black;
}